/*商品列表*/
.homePage {
	width: 1300px;
	height: 1549px;
	background-color: #fff;
	margin: 0 auto;
}
/*商品列表左侧*/
.homePageL {
	float: left;
	width: 167px;
	height: 100%;
	background-color: #1f262c;
}
.homePageL > img {
	display: block;
	width: 64px;
	height: 53px;
	background: url(../img/logo.png) no-repeat 0/cover;
	margin: 18px auto 9px;
}
.homePageL h2 {
	font-size: 15px;
	color: #8a8e91;
	text-align: center;
}
.homePageL > ul > li {
	width: 100%;
	height: 72px;
	padding-left: 34px;
	line-height: 72px;
	font-size: 13px;
	color: #fff;
}
.homePageL > ul > li.active {
	border-left: 3px solid #32d794;
}
.homePageL > ul > li > img {
	margin-right: 14px;
}
/*商品列表右测*/
.homePageR {
	float: right;
	width: 1133px;
	height: 100%;
}
.r_nav {
	width: 100%;
	height: 54px;
	background-color: #eaf6ff;
	padding: 0 76px 0 42px;
}
/*右边导航*/
.r_nav_l {
	float: left;
	height: 100%;
}
.r_nav_l a {
	display: block;
	float: left;
	text-decoration: none;
	width: 95px;
	height: 100%;
	text-align: center;
	line-height: 54px;
	color: #516676;
	font-size: 14px;
}
.r_nav_l a.active {
	background-color: #30a3fe;
}
.r_nav_r {
	float: right;
}
.r_nav_r a {
	text-decoration: none;
	display: flex;
	align-items: center;
	display: block;
	float: right;
	height: 100%;
	line-height: 54px;
	font-size: 14px;
}
.r_nav_r a:first-child {
	margin-left: 24px;
}
.r_nav_r a:nth-child(2) {
	margin-left: 30px;
}
.r_nav_r a:first-child span {
	color: #41b2fc;
	margin-left: 8px;
}
.r_nav_r a:nth-child(2) span {
	color: #32d796;
	margin-left: 6px;
}
.r_nav_r a:last-child span {
	color: #9aa9b5;
}
.r_nav_r a > img {
	vertical-align: middle;
}
/*右边主要内容*/
.container {
	padding: 0 76px 0 42px;
}
.container > h2 {
	font-size: 12px;
	color: #516676;
	line-height: 69px;
}
.container > h2 > span {
	display: inline-block;
	width: 4px;
	height: 4px;
	background-color: #29c99a;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 7px;
	vertical-align: middle;
}
.container > h2 > em {
	color: #30d366;
}
.container ul.select_com {
	display: flex;
	justify-content: space-between;
}
.container ul.select_com li {
	position: relative;
	width: 326px;
	height: 38px;
	border-radius: 1px;
	background-color: #e7e7e7;
	font-size: 12px;
	color: #516676;
	text-align: center;
	line-height: 38px;
}
.container ul.select_com li:first-child:after {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: -12px;
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-left-color: #30a3fe; 
}
.container ul.select_com li:nth-child(2)::after {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: -12px;
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-left-color: #e7e7e7; 
}
.container ul.select_com li:nth-child(2)::before,
.container ul.select_com li:nth-child(3)::before{
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-left-color: #fff; 
}
.container ul.select_com li.active {
	background-color: #30a3fe;
	color: #fff;
}
/*选择类别*/
ul.category {
	height: 200px;
}
ul.category > li{
	position: relative;
	float: left;
	width: 328px;
	height: 200px;
}
ul.category > li + li {
	margin-left: 39px;
}
ul.category > li > h3 {
	background: url(../img/decorate.png) no-repeat left center;
	font-size: 16px;
	color: #4f5b64;
	padding-left: 18px;
}
ul.category > li > h3 > span {
	color: #30a3fe;
}
ul.category > li > a {
	position: relative;
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #a5d7ff;
	border-radius: 50%;
}
ul.category > li > a.top {
	position: absolute;
	top: 34px;
	right: 12px;
}
ul.category > li > a.bottom {
	position: absolute;
	bottom: -5px;
	right: 12px;
}
ul.category > li > a > span {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border: 3px solid transparent;
}
ul.category > li > a.top > span {
	border-bottom-color: #fff; 
	margin-top: 15%;
}
ul.category > li > a.bottom > span {
	border-top-color: #fff; 
	margin-top: 40%;
}
/*选择洗衣分类*/
.select_classify {
	font-size: 12px;
	color: #a4adb5;
	margin-top: 27px;
	margin-bottom: 29px;
}
.select_classify span {
	color: #516676;
	margin-left: 11px;
}
.select_classify span:first-child::after {
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border: 3px solid transparent;
	border-left-color: #516676;
	margin-left: 8px;
}
.category_sub {
	width: 100%;
	height: 180px;
	background-color: #f3faff;
	padding: 13px 17px 22px 19px;
	margin-top: 13px;
}
.category_sub > li {
	width: 100%;
	border-right: 3px solid #a5d7ff;
	line-height: 29px;
	font-size: 13px;
	color: #82898e;
}
.category_sub > li > span {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #32a4fe;
	vertical-align: middle;
	margin-right: 7px;
}
.category_sub > li.active {
	border-right-color: #30a3ff;
}
.category_sub > li.active  > span{
	background: url(../img/select.png) no-repeat center;
}
.container > button {
	clear: both;
	display: block;
	width: 169px;
	height: 27px;
	border-radius: 27px;
	background-image: linear-gradient(to right,#30b8fe,#30a3fe);
	font-size: 13px;
	color: #fff;
	box-shadow: 0 3px 14px #3bacfe;
	border: none;
	outline: none;
	margin: 41px 0 92px 0;
}
/*底部*/
.footer {
	clear: both;
	width: 100%;
	height: 58px;
	text-align: center;
	line-height: 58px;
	color: #d3d5d6;
	font-size: 12px;
	border-top: 1px solid #f5f5f6;
}