/*商品列表*/
.homePage {
	width: 1300px;
	height: 737px;
	background-color: #fff;
	margin: 0 auto;
}
/*商品列表左侧*/
.homePageL {
	float: left;
	width: 167px;
	height: 100%;
	background-color: #1f262c;
}
.homePageL > img {
	display: block;
	width: 64px;
	height: 53px;
	background: url(../img/logo.png) no-repeat 0/cover;
	margin: 18px auto 9px;
}
.homePageL h2 {
	font-size: 15px;
	color: #8a8e91;
	text-align: center;
}
.homePageL > ul > li {
	width: 100%;
	height: 72px;
	padding-left: 34px;
	line-height: 72px;
	font-size: 13px;
	color: #fff;
}
.homePageL > ul > li.active {
	border-left: 3px solid #32d794;
}
.homePageL > ul > li > img {
	margin-right: 14px;
}
/*商品列表右测*/
.homePageR {
	float: right;
	width: 1133px;
	height: 100%;
}
.r_nav {
	width: 100%;
	height: 54px;
	background-color: #eaf6ff;
	padding: 0 76px 0 42px;
}
/*右边导航*/
.r_nav_l {
	float: left;
	height: 100%;
}
.r_nav_l a {
	display: block;
	float: left;
	text-decoration: none;
	width: 95px;
	height: 100%;
	text-align: center;
	line-height: 54px;
	color: #516676;
	font-size: 14px;
}
.r_nav_l a.active {
	background-color: #30a3fe;
}
.r_nav_r {
	float: right;
}
.r_nav_r a {
	text-decoration: none;
	display: flex;
	align-items: center;
	display: block;
	float: right;
	height: 100%;
	line-height: 54px;
	font-size: 14px;
}
.r_nav_r a:first-child {
	margin-left: 24px;
}
.r_nav_r a:nth-child(2) {
	margin-left: 30px;
}
.r_nav_r a:first-child span {
	color: #41b2fc;
	margin-left: 8px;
}
.r_nav_r a:nth-child(2) span {
	color: #32d796;
	margin-left: 6px;
}
.r_nav_r a:last-child span {
	color: #9aa9b5;
}
.r_nav_r a > img {
	vertical-align: middle;
}
/*右边主要内容*/
.container {
	padding: 0 76px 0 42px;
}
.container > h2 {
	font-size: 12px;
	color: #516676;
	line-height: 69px;
}
.container > h2.storeInfo {
	line-height: 36px;
}
.container > h2 > span {
	display: inline-block;
	width: 4px;
	height: 4px;
	background-color: #29c99a;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 7px;
	vertical-align: middle;
}
.container > h2 > em {
	color: #30d366;
}
/*基本信息*/
.container > h2.basic_info {
	font-size: 16px;
	color: #4f5b64;
	background: url(../img/decorate.png) no-repeat left center;
	padding-left: 27px;
}
.container > h2.basic_info > i {
	color: #41b2fc;
}
/*图片上传*/
h5.detail_info {
	font-size: 13px;
	color: #30d366;
	font-weight: normal;
	line-height: 46px;
}
h5.detail_info > span.small_title {
	display: inline-block;
	width: 118px;
	text-align: right;
	margin-right: 14px;
	color: #a4adb5;
}
h5.detail_info > input {
	width: 451px;
	height: 27px;
	background-color: #f3faff;
	border-radius: 27px;
	border: 3px solid #ebf6ff;
	outline: none;
	padding-left: 13px;
}
h5.detail_info > button {
	width: 89px;
	height: 26px;
	border-radius: 27px;
	background-image: linear-gradient(to right,#37e06f,#32d69a);
	font-size: 13px;
	color: #fff;
	box-shadow: 0 3px 14px #37df74;
	border: none;
	outline: none;
	margin: 41px 12px 31px;
}
h5.detail_info > em {
	font-size: 12px;
	color: #41b2fc;
}
p.detail_txt {
	font-size: 10px;
	color: #ff8f72;
	padding-left: 152px;
}
/*申请状态*/
h5.detail_info > span.notice + button	{
	display: inline-block;
	width: 116px;
	height: 26px;
	border-radius: 27px;
	background-image: linear-gradient(to right,#37e06f,#32d69a);
	font-size: 13px;
	color: #fff;
	box-shadow: 0 3px 14px #37df74;
	border: none;
	outline: none;
	margin: 20px 0 74px 30px;
}
/*下一步*/
.container > .btns {
	float: right;
	margin-right: 254px;
}
.container > .btns >button {
	clear: both;
	display: inline-block;
	width: 112px;
	height: 33px;
	border-radius: 27px;
	background-image: linear-gradient(to right,#37e06f,#32d69a);
	font-size: 13px;
	color: #fff;
	box-shadow: 0 3px 14px #37df74;
	border: none;
	outline: none;
	margin: 41px 0 92px 0;
}
.container > .btns > button + button {
	margin-left: 40px;
	background-image: linear-gradient(to right,#f95c2c,#fd5e52);
	box-shadow: 0 3px 14px #fd634f;
}
/*底部*/
.footer {
	clear: both;
	width: 100%;
	height: 58px;
	text-align: center;
	line-height: 58px;
	color: #d3d5d6;
	font-size: 12px;
	border-top: 1px solid #f5f5f6;
}